* {
  font-family: "Franklin Gothic Medium", "Arial", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  -webkit-perspective: 0;
          perspective: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(20, 39, 41, 0.1) !important;
}

.navbar {
  top: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.navbar .navbar-nav li {
  padding-right: 0.5rem;
}

.navbar .navbar-nav {
  z-index: 9999;
}

.navbar .nav-item a.nav-link:active {
  color: #fff;
}

.navbar .nav-item a.nav-link:hover {
  color: #3377cc;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.home-inner {
  height: 100vh;
  background: url(/AlexBootstrap/img/first-bg.png) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 10;
  -webkit-transform: translateZ(1) scale(2);
          transform: translateZ(1) scale(2);
}

.home-inner::before {
  background-color: rgba(20, 39, 41, 0.22);
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.heading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  letter-spacing: 2px;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.heading::after,
.heading::before {
  content: "";
  width: 80px;
  height: 2px;
  background: rgba(51, 51, 51, 0.5);
  margin: 25px 10px;
}

.heading-underline-job {
  display: none;
  color: #333;
  padding-bottom: 3rem;
}

.heading-inspiration {
  font-family: Avenir;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2px;
  font-size: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

.heading-inspiration::after,
.heading-inspiration::before {
  content: "";
  width: 100px;
  height: 2px;
  background: #ffff;
  margin: 20px 10px;
}

.heading-underline-inspiration {
  display: none;
  color: #fff;
}

.inspiration-content-list ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  list-style: none;
}

.inspiration-content-list li {
  padding-bottom: 1rem;
}

.inspiration-content-list a {
  font-size: 24px;
  list-style: none;
  text-decoration: none;
  color: #fff9fc;
  text-transform: uppercase;
}

.inspiration-content-list a:hover {
  color: #3377cc;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.jumbotron-inspiration {
  background-image: url("..//img/bg-3.png");
  background-size: cover;
  background-attachment: fixed;
}

#contact .jumbotron-footer {
  height: auto;
  background-color: #fff;
}

#contact .jumbotron-footer .footer-text {
  font-size: 150%;
}

#contact .jumbotron-footer .footer-text a {
  text-decoration: none;
  color: #0f5ae6;
}

#contact .jumbotron-footer .footer-text a:hover {
  color: #578bec;
}

#contact .jumbotron-footer .social-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .jumbotron-footer li {
  padding-right: 30px;
  list-style: none;
  text-decoration: none;
}

#contact .jumbotron-footer .social-menu img {
  margin: 0 auto;
  padding: 0;
  width: 100px;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

#contact .jumbotron-footer #twitter {
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#contact .jumbotron-footer #twitter:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contact .jumbotron-footer #linkedin {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  margin: 0 auto;
}

#contact .jumbotron-footer #linkedin:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#contact .jumbotron-footer .socket {
  padding-top: 10%;
}

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.scrolled-down {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 576px) {
  .heading-underline {
    padding-top: 2rem;
  }
  .home-inner {
    background-position: 63% !important;
  }
  .social-menu img {
    max-width: 100%;
    border-radius: 10px;
  }
  .social-menu ul {
    margin-top: 1rem;
  }
  #twitter {
    margin: 0;
  }
  #linkedin {
    margin: 0;
  }
  .socket {
    padding-top: 10%;
  }
}
/*# sourceMappingURL=style.css.map */