* {
  font-family: "Franklin Gothic Medium", "Arial", sans-serif;
  // border: red solid 1px;
  // overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  perspective: 0;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(20, 39, 41, 0.1) !important;
}
// Start Navigation Bar
.navbar {
  top: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;

  .navbar-nav li {
    padding-right: 0.5rem;
  }
  .navbar-nav {
    z-index: 9999;
    // position: relative;
  }
  .nav-item a.nav-link:active {
    color: #fff;
  }
  .nav-item a.nav-link:hover {
    color: #3377cc;
    transition: color 0.2s;
  }
}
//End Navigation Bar

// Start Landing Page
.home-inner {
  height: 100vh;
  background: url(/AlexBootstrap/img/first-bg.png) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 10;
  // maybe -1px
  transform: translateZ(1) scale(2);
  &::before {
    background-color: rgba(20, 39, 41, 0.22);
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.heading {
  justify-content: center;
  display: flex;
  color: #333;
  letter-spacing: 2px;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
.heading::after,
.heading::before {
  content: "";
  width: 80px;
  height: 2px;
  background: rgba($color: #333, $alpha: 0.5);
  margin: 25px 10px;
}
//Job

.heading-underline-job {
  display: none;
  color: #333;
  padding-bottom: 3rem;
}

//Inspiration
.heading-inspiration {
  font-family: Avenir;
  color: #ffffff;
  display: flex;
  letter-spacing: 2px;
  font-size: 2.5rem;
  justify-content: center;
  padding-bottom: 2rem;
}
.heading-inspiration::after,
.heading-inspiration::before {
  content: "";
  width: 100px;
  height: 2px;
  background: #ffff;
  margin: 20px 10px;
}
.heading-underline-inspiration {
  display: none;
  color: #fff;
}

.inspiration-content-list ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  list-style: none;
}
.inspiration-content-list li {
  padding-bottom: 1rem;
}
.inspiration-content-list a {
  font-size: 24px;
  list-style: none;
  text-decoration: none;
  color: #fff9fc;
  text-transform: uppercase;
}
.inspiration-content-list a:hover {
  color: #3377cc;
  transition: color 0.2s;
}
//Section Foooter
.jumbotron-inspiration {
  background-image: url("..//img/bg-3.png");
  background-size: cover;
  background-attachment: fixed;
}
#contact .jumbotron-footer {
  height: auto;
  background-color: #fff;
  .footer-text {
    font-size: 150%;
    a {
      text-decoration: none;
      color: rgb(15, 90, 230);
      &:hover {
        color: rgb(87, 139, 236);
      }
    }
  }
  .social-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    padding-right: 30px;
    list-style: none;
    text-decoration: none;
  }
  .social-menu img {
    margin: 0 auto;
    padding: 0;
    width: 100px;
    border-radius: 10px;
    transition: transform 1s;
  }
  #twitter {
    margin: 0 auto;
    transition: transform 0.3s;
  }
  #twitter:hover {
    transform: scale(1.1);
  }
  #linkedin {
    transition: transform 0.3s;
    margin: 0 auto;
  }
  #linkedin:hover {
    transform: scale(1.1);
  }
  .socket {
    padding-top: 10%;
  }
}
// Smart scroll, hiding NavBar
.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
// Media Query Section
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .heading-underline {
    padding-top: 2rem;
  }
  .navbar {
  }
  .home-inner {
    background-position: 63% !important;
  }

  //Footer

  .social-menu img {
    max-width: 100%;
    border-radius: 10px;
  }
  .social-menu ul {
    margin-top: 1rem;
  }
  #twitter {
    margin: 0;
  }
  #linkedin {
    margin: 0;
  }
  .socket {
    padding-top: 10%;
  }
}
